In [3]:
import numpy as np
import pandas as pd

### 연습문제 4.1.1
(1) 임의로 두 개의 시리즈 객체를 만든다. 모두 문자열 인덱스를 가져야 하며 두 시리즈에 공통적으로 포함되지 않는 라벨이 있어야 한다.

(2) 위에서 만든 두 시리즈 객체를 이용하여 사칙 연산을 한다.

In [ ]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [ ]:
s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [ ]:
s + s2, s - s2, s * s2, s / s2

(대구           NaN
 대전           NaN
 부산     6841928.0
 서울    19535794.0
 인천     5522486.0
 dtype: float64, 대구         NaN
 대전         NaN
 부산     55546.0
 서울    272830.0
 인천    258416.0
 dtype: float64, 대구             NaN
 대전             NaN
 부산    1.170222e+13
 서울    9.539320e+13
 인천    7.607768e+12
 dtype: float64, 대구         NaN
 대전         NaN
 부산    1.016370
 서울    1.028327
 인천    1.098181
 dtype: float64)

### 연습문제 4.1.2
다음 조건을 만족하는 임의의 데이터프레임을 하나 만든다.

(1) 열의 갯수와 행의 갯수가 각각 5개 이상이어야 한다.

(2) 열에는 정수, 문자열, 실수 자료형 데이터가 각각 1개 이상씩 포함되어 있어야 한다.

In [ ]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

### 연습문제 4.1.3
다음 데이터프레임에서 지정하는 데이터를 뽑아내거나 처리하라.

(1) 모든 학생의 수학 점수를 시리즈로 나타낸다.

(2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.

(3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.

(4) 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.

(5) 춘향의 점수를 데이터프레임으로 나타낸다.

(6) 향단의 점수를 시리즈로 나타낸다.

In [4]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [ ]:
df.수학

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

In [ ]:
df[['국어', '영어']]

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [ ]:
df.평균 = [86,73,70,46]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [5]:
df['평균'] = df.mean(axis=1).round(2)
df

    국어  영어  수학     평균
춘향  80  90  90  86.67
몽룡  90  70  60  73.33
향단  70  60  80  70.00
방자  30  40  70  46.67

In [ ]:
df['영어']['방자'] = 80

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df['평균'] = df.mean(axis=1).round(0)
print(df)

    국어  영어  수학    평균
춘향  80  90  90  87.0
몽룡  90  70  60  73.0
향단  70  60  80  70.0
방자  30  80  70  59.0

In [ ]:
df

    국어  영어  수학    평균
춘향  80  90  90  87.0
몽룡  90  70  60  73.0
향단  70  60  80  70.0
방자  30  80  70  59.0

In [ ]:
df[:1]

    국어  영어  수학    평균
춘향  80  90  90  87.0

In [6]:
# 향단의 점수를 데이터프레임으로
df.head(3).tail(1)

    국어  영어  수학    평균
향단  70  60  80  70.0

In [7]:
# 향단의 점수를 시리즈로 나타낸다.
df.T['향단']

국어    70.0
영어    60.0
수학    80.0
평균    70.0
Name: 향단, dtype: float64

In [ ]:
# 모르겠습니다

### 연습문제 4.3.1

1. 모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다.

2. 10가지 이상의 방법으로 특정한 행과 열을 선택한다.

In [ ]:
data = {
    "국어": [80, 90, 70, 30, 55],
    "영어": [90, 70, 60, 40, 82],
    "수학": [90, 60, 80, 70, 67],
    "과학": [100, 56, 76, 98, 47],
    "국사": [98, 99, 100, 98, 69]
}
columns = ["국어", "영어", "수학", "과학", "국사"]
index = ["춘향", "몽룡", "향단", "방자", "나비"]
df2 = pd.DataFrame(data, index=index, columns=columns)
df2

    국어  영어  수학   과학   국사
춘향  80  90  90  100   98
몽룡  90  70  60   56   99
향단  70  60  80   76  100
방자  30  40  70   98   98
나비  55  82  67   47   69

In [8]:
df = pd.DataFrame(np.arange(25).reshape(5,5), columns=list('ABCDE'), index=list('vwxyz'))
df

    A   B   C   D   E
v   0   1   2   3   4
w   5   6   7   8   9
x  10  11  12  13  14
y  15  16  17  18  19
z  20  21  22  23  24

In [ ]:
df['수학']['방자'], df['수학'][3], df.수학[3], df.수학.방자, df.loc['방자', '수학'], df.loc['방자']['수학'], df.loc['방자'][2], df.loc['방자'].수학, df.iloc[3,2], df.iloc[3][2], df.iloc[3]['수학'], df.iloc[3].수학

(70, 70, 70, 70, 70, 70.0, 70.0, 70.0, 70, 70.0, 70.0, 70.0)

In [ ]:
%%shell
jupyter nbconvert --to html /content/drive/MyDrive/"Colab Notebooks"/u_판다스연습문제.ipynb

[NbConvertApp] Converting notebook /content/drive/MyDrive/Colab Notebooks/u_판다스연습문제.ipynb to html
[NbConvertApp] Writing 325661 bytes to /content/drive/MyDrive/Colab Notebooks/u_판다스연습문제.html